<?xml version="1.0" encoding="UTF-8"?>

<launch>
	<!-- these are the arguments you can pass this launch file, for example paused:=true -->

	<!-- We resume the logic in empty_world.launch -->

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find a-star-turtlebot)world/map.world"/>
	</include>

</launch>